body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.token{
    position: absolute;
    height: 40px;
    width: 45px;
    border: solid 1px;
    border-radius: 5px;
    color: white;
}

.token h1 {
    font-size: 18px;
    display: inline;
    margin-left: -1px;
}

.token img {
    margin-top: 1px;
}

.sortable th.header{
    background-image: url(images/sort.png); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center right; 
    padding-left: 20px; 
    margin-left: -1px; 
    padding-right: 20px; 
    margin-right: -1px; 
}

.sortable th.headerSortUp{
    background-image: url(images/sort_up.png); 
}

.sortable th.headerSortDown{
    background-image: url(images/sort_down.png); 
}