body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.token{
    position: absolute;
    height: 40px;
    width: 45px;
    border: solid 1px;
    border-radius: 5px;
    color: white;
}

.token h1 {
    font-size: 18px;
    display: inline;
    margin-left: -1px;
}

.token img {
    margin-top: 1px;
}

.sortable th.header{
    background-image: url(images/sort.png); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center right; 
    padding-left: 20px; 
    margin-left: -1px; 
    padding-right: 20px; 
    margin-right: -1px; 
}

.sortable th.headerSortUp{
    background-image: url(images/sort_up.png); 
}

.sortable th.headerSortDown{
    background-image: url(images/sort_down.png); 
}

#chat_window {
    height: 350;
    overflow-y: scroll;
    border: solid 1px;
}

.circle {
    border: solid 2px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.circle30 {
    border: dashed 1px;
    border-radius: 50%;
    height: 240px;
    width: 240px;
}

.star_map {
    height: 300px;
}
.hex {
    position: absolute;
    border: solid 1px;
    width: 87px;
    height: 100px;
    
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
);
}

.map_container {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.map_drag {
    position: relative;
    resize: none;
}

// Helper classes to add smoe space between elements like rows
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }