body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.token{
    position: absolute;
    height: 40px;
    width: 60px;
    border: solid 1px;
    border-radius: 5px;
}

.token h1 {
    font-size: 19px;
    display: inline;
    margin-left: -3px;
}

.token img {
    margin-top: 1px;
}